main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

img {
    display: block;
    width: 400px;
    height: 600px;
    object-fit: cover; /* Mantiene la proporción de la imagen */
    background-color: #000;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}